@import './Fonts/Fonts.css';

.Contributor {
  position: relative;
  height: max-content;
  width: 500px;

  left: 72px;
  top: 125px;
}

.Contributor_Title {
  width: 91px;
  height: 24px;

  /* border: 2px solid #000000; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 150% */

  letter-spacing: 0.15px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.Contributor_Details {
  position: relative;
  left: 10px;

  /* Subtitle 2 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  /* identical to box height, or 171% */

  color: #000000;
}
