@import "./Fonts/Fonts.css";

.Heading
{
    position: relative;
    width: 500px;
    height: 30px;
    /* left: 72px; */
    top: 10px;

    /* Headline/H5 */

    /* text-align: center; */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    line-height: 29px;
    /* identical to box height */

    color: #000000;

}

.Heading_Title
{
    position: relative;
    left: 80px;
    top: -27px;
}
