@import "./Fonts/Fonts.css";

.Title
{
  position: relative;
  width: 654px;
  height: 64px;
  left: 72px;
  top: 96px;

  /* Headline/H3 */

  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 64px;
  /* identical to box height */


  color: #000000;
}